*.pyc
*/__pycache__
*.sqlite3
.venv*
*.log
*.sql

node_modules
/dist

# local env files
local_settings.py
settings_local.py

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Django production files
/static